
.auth{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
}

.google_login_btn,.signout_btn{
  width: 287px;
  height: 49px;
  border: 1px solid transparent;
  background: #F2F2F2;
  font-weight: 600;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
}

.non_auth,.authenticated{
  text-align: center;
}
.authenticated{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.user_avatar{
  width: 110px;
  height: 110px;
  background-color: #ccc;
  position: relative;
  border-radius: 50%;
  margin-bottom: 35px;
}
.user_avatar img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: inherit;
}
.logout_btn{
  width: 245px;
  height: 39px;
  border-radius: 3px;
  border: 1px solid transparent;
  background-color: rgb(25, 48, 255);
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.alert{
  width: 287px;
  height: 65px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  position: fixed;
  top: 25px;
  right: -500px;
  background-color: rgb(44, 76, 255);
  border-radius: 5px;
  color: #FFF;
  font-weight: 600;
  transition: all .3s ease-in-out;
}
.popup-close{
  width: 35px;
  height: 35px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid transparent;
  background-color: #fff;
  border-radius: 50%;
 
}
.alert_enable{
  right: 10px;
}